body {
  background-color: #fff;
  color: #000;
  text-align: center;
}

hr {
  border: 1px solid #000;
  color: #000;
}

.grid-item {
  width: 25%;
  margin: 0;
  padding: 0;
  line-height: 0;
}

img {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
}
